.classHide {
    display: none;
}
.pt_20 {
    padding-top: 20px !important;
}
.form_label {
    width: 12%;
    padding-right: 6px !important;
}
.valign {
    margin-bottom: 37px;
}
.valign.sso {
    margin-bottom: 20px;
}
.pull_right {
    float: right;
    text-align: right;
}
.input-communityUrl {
    width: 100%;
    display: flex;
}
.field {
    margin: 0;
}
.input-communityUrl>.inputUrl {
    max-width: 40%;
    background: #ebf2fa;
    border-radius: 3px 0 0 3px;
    border-right: none;
}
.input-communityUrl>#settings-communityUrl-field {
    max-width: calc(60% - 100px);
    width: 100%;
}
.input-communityUrl>.inputUrl p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-communityUrl>.input.ltr {
    width: 100%;
}
.input-communityUrl>#settings-communityUrl-field .input.ltr>input {
    width: 100%;
    border-radius: 0;
}
.input-communityUrl>.urlCopy {
    width: 100px;
    background: #ebf2fa;
}
.input-communityUrl>.urlCopy>a {
    text-decoration: none;
    color: #3f4d5a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-communityUrl>.urlCopy>a:before {
    margin-right: 3px;
}
.success {
    color: green;
}
.wt_alert{
    display: block;
    height: 40px;
    opacity: 1;
    position: relative;
    background-color: var(--yellow-050);
    border-left: 6px solid var(--warning-color);
}
.wt_alert > .wt_li{
    padding: 8px 0 0 5px;
}
.btn_group {
    clear: both;
    display: inline-block;
}
.btn_check {
    position: absolute;
    opacity: 0; /* Make the radio button invisible */
}
ul.role_checkbox{
    max-width: 400px;
    width: 100%;
    float: left;
}
ul.role_checkbox li{
    min-width: 200px;
    float: left;
    margin-bottom: 5px;
}
.btn_check + label {
    float: left;
    padding: 0.3em 1em;
    cursor: pointer;
    border: 1px solid #28608f;
    margin-right: -1px;
    color: #428bca;
    background-color: #fff;
}
.btn_check + label:first-of-type {
    border-radius: 0.2em 0 0 0.2em;
}

.btn_check + label:last-of-type {
    border-radius: 0 0.2em 0.2em 0;
}
.btn_check:checked + label {
    color: #fff;
    background-color: #3277b3;
}
@media screen and (min-width: 768px) {
    .input-communityUrl>.urlCopy {
        border-radius: 0 3px 3px 0;
        border-left: none;
    }
}
@media screen and (max-width: 767px) {
    .input-communityUrl {
        display: block;
        float: left;
    }
        .input-communityUrl>.inputUrl {
        float: left;
        display: grid;
    }
        .input-communityUrl>#settings-communityUrl-field {
        max-width: 60%;
        float: left;
        display: grid;
    }
        .input-communityUrl>.urlCopy {
        float: left;
        margin-top: 5px;
    }
        #settings-cmUrl .valign {
        margin-bottom: 60px;
    }
}