.d_none {
    display: none;
}
.mt_5 {
    margin-top: 5px;
}
.pt_20 {
    padding-top: 20px !important;
}
.form_label {
    width: 12%;
    padding-right: 6px !important;
}
.valign {
    margin-bottom: 37px;
}
.valign.sso {
    margin-bottom: 20px;
}
.wt_setting_table {
    width: 100%;
}
.change_link {
    margin-left: 10px;
}
.pull_right {
    float: right;
    text-align: right;
}
.input-communityUrl {
    width: 100%;
    display: flex;
}
.field {
    margin: 0;
}
.input-communityUrl>.inputUrl {
    max-width: 80%;
    background: #ebf2fa;
    border-radius: 3px 0 0 3px;
    border-right: none;
    display: grid;
}
.input-communityUrl>.border-right {
    border-right: 1px solid rgba(96, 125, 159, .25);
}
.input-communityUrl>#settings-community-url-field {
    max-width: calc(24% - 34px);
    width: 300px;
}
.input-communityUrl>.inputUrl p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-communityUrl>.input.ltr {
    width: 100%;
}
.input-communityUrl>#settings-community-url-field .input.ltr>input {
    width: 100%;
    border-radius: 0;
}
.input-communityUrl>.urlCopy {
    width: 100px;
    background: #ebf2fa;
}
.input-communityUrl>.urlCopy>a {
    text-decoration: none;
    color: #3f4d5a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px;
}
.input-communityUrl>.urlCopy {
    padding: 0;
}
.input-communityUrl>.urlCopy>a:before {
    margin-right: 3px;
}
.success {
    color: green;
}
.wt_alert {
    display: block;
    opacity: 1;
    position: relative;
    background-color: var(--yellow-050);
    border-left: 6px solid var(--warning-color);
}
.wt_alert>.wt_li {
    padding: 10px 5px 10px 5px;
}
.btn_group {
    clear: both;
    display: inline-block;
}
.btn_check {
    position: absolute;
    opacity: 0; /* Make the radio button invisible */
}
ul.role_checkbox {
    max-width: 400px;
    width: 100%;
    float: left;
}
ul.role_checkbox li {
    min-width: 200px;
    float: left;
    margin-bottom: 5px;
}
.btn_check+label {
    float: left;
    padding: 0.3em 1em;
    cursor: pointer;
    border: 1px solid #28608f;
    margin-right: -1px;
    color: #428bca;
    background-color: #fff;
    margin-bottom: 2px;
    margin-top: 2px;
}
.btn_check+label:first-of-type {
    border-radius: 0.2em 0 0 0.2em;
}
.btn_check+label:last-of-type {
    border-radius: 0 0.2em 0.2em 0;
}
.btn_check:checked+label {
    color: #fff;
    background-color: #3277b3;
}
#settings-cmUrl .valign {
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .input-communityUrl>.urlCopy {
        border-radius: 0 3px 3px 0;
        border-left: none;
    }
}
@media (min-width: 992px) and (max-width: 1499.98px) {
    .form_label {
        width: 16%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .input-communityUrl>#settings-community-url-field {
        max-width: calc(50% - 150px);
        width: auto;
    }
    .input-communityUrl>.inputUrl {
        max-width: 60%;
    }
}
@media screen and (max-width: 767px) {
    .input-communityUrl {
        display: block;
        float: left;
    }
    .input-communityUrl>#settings-communityUrl-field {
        max-width: 60%;
        float: left;
        display: grid;
    }
    .input-communityUrl>.urlCopy {
        margin-top: 5px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .input-communityUrl>.urlCopy {
        margin-top: 0;
        float: left;
    }
    .input-communityUrl>#settings-community-url-field {
        max-width: 22%;
        float: left;
    }
    .input-communityUrl>.inputUrl {
        max-width: 50%;
        float: left;
    }
    .change_link {
        display: inline-block;
    }
}
@media screen and (max-width: 575px) {
    .input-communityUrl>#settings-community-url-field {
        width: 100%;
        max-width: 100%;
    }
    .urlCopy+.change_link {
        margin-left: 0;
    }
    .input-communityUrl>.inputUrl {
        max-width: 100%;
        margin-bottom: 6px;
        border-right: 1px solid rgba(96, 125, 159, .25);
    }
    .input-communityUrl>#settings-community-url-field {
        max-width: 100%;
    }
}